{% extends 'main.html' %}
{% block content %}
   
<div class="container py-4">

 <span class="display-5" style="margin-top: 12em;color: #F9C94E;font-family:'Poppins', sans-serif;font-weight: bold;"> prognosis </span> <span class="display-5" style="color: #F9C94E;font-weight: lighter;">| Educational Project</span>
 <p class="my-4">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
 </p>

 <br>
<div class="row">
 {% for person in people %}

 <div class="col-6">
<div style="display: flex;">
  <div style="justify-content: center;">
    <div>
    <img src="{{person.imglink}}" height="50" width="50">

    <span style="color:#F9C94E;font-size: larger;">{{person.name}} | {{person.position}}</span>
  </div>
 
    <p>{{person.description}}</p>
  </div>
</div>

 </div>


 {% endfor %}
</div>

</div>

  
{% endblock content %}
